/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen {

    header {
        background: #4E4B44;
    }

    /* -- picture -- */
    .picture {
        background: url("../images/jenni_728.jpg") no-repeat;
        background-size: cover;
        padding-top: 66.64%;
    }

    .logo-box {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .logo-home {
        max-width: 286px;
    }

    .pagetitle {
        font-size: 2.2em;
    }

    .logosubtitle {
        font-size: 0.9em;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .logo-home {
        max-width: 356px;
    }

    .pagetitle {
        font-size: 2.7em;
    }

    .logosubtitle {
        font-size: 1em;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    #map {
        max-width: 500px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .picture {
        background: none;
        padding-top: 0;
    }

    header {
        background: url("../images/jenni_1200.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;
        /*max-height: 800px;*/
        max-width: 1200px;
    }

    .logo-box {
        padding-top: 0;
        padding-bottom: 0;
        margin: 2% auto 50% auto;
        background: #4E4B44;
    }

    .logo-home {
        max-width: 450px;
    }

    .pagetitle {
        font-size: 3.5em;
    }

    .logosubtitle {
        font-size: 1.5em;
    }

    #map_canvas {
        height: 250px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
    #map_canvas {
        height: 300px;
    }
}
