
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen {

    /* -- picture -- */
    .picture {
        background: url("../images/jenni_728.jpg") no-repeat;
        background-size: cover;
        background-position-y: center;
        padding-top: 50%;
        max-height: 800px;
    }

    .pagetitle {
        font-size: 2.2em;
    }

    .section-header {
        background-size: auto;
        background-position: center top;
        padding-top: 45px;
    }

    .section-header-1 {
        background-position: center -250px;
    }

    .section-header-2 {
        background-position: center bottom;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .pagetitle {
        font-size: 2.7em;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
     .picture {
        padding-top: 40%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
     .picture {
        padding-top: 30%;
    }

    .section-header {
        background: url("../images/jenni_1200.jpg") no-repeat;
        background-size: cover;
        background-position: center 40%;
        max-height: 1200px;
    }
    
    .pagetitle {
        font-size: 3.5em;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
     .picture {
        padding-top: 20%;
    }

}
