/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen {

	.navbar {
		margin: 0;
	}

	/* -- picture -- */
	.picture {
		background: url("../images/jenni_728.jpg") no-repeat;
	    background-size: cover;
	    padding-top: 66.64%;
	}

	.logo-box {
	    padding-top: 5%;
	    padding-bottom: 5%;
	    background: #4E4B44;	
	}
    .logo {
        max-width: 286px;
    }	
    .logotitle {
	    font-size: 2.2em;
	}
	.logosubtitle {
        font-size: 0.9em;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .logo {
        max-width: 356px;
    }
    .logotitle {
        font-size: 2.7em;
    }
    .logosubtitle {
        font-size: 1em;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	/*.logo {
        max-width: 327px;
    }*/
    /*.logotitle {
        font-size: 3em;
    }
    .logosubtitle {
        font-size: 1em;
    }*/
    
     #map, #contact {
        max-width: 500px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .picture {
		background: none;
		padding-top: 0;
	}

	header, .section-header {
		background: url("../images/jenni_1200.jpg") no-repeat;
		background-size: cover;
	    background-position: center 40%;
	    max-height: 1200px;
	}

	.logo-box {
		padding-top: 0;
	    padding-bottom: 0;
	    margin: 2% auto 50% auto;
	    background: #524A6E;	
	} 

    .logo{
        max-width: 450px;
    }
    .logotitle {
        font-size: 4em;
    }
    .logosubtitle {
        font-size: 1.7em;
    }
    
    #map_canvas {
        height: 250px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .logo {
        max-width: 550px;
    }
    .logotitle {
        font-size: 5em;
    }
    .logosubtitle {
        font-size: 1.7em;
    }
    
    #map_canvas {
        height: 300px;
    }
}
