.section-header {
    background-size: auto;
    background-position: center top;
    padding-top: 45px;
}

.section-header-1 {
    background-position: center -250px;
}

.section-header-2 {
    background-position: center bottom;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

	.navbar {
		margin: 0;
	}

	.logo-box {
		background: url("../images/jenni_728.jpg") no-repeat;
	    background-size: cover;
	    background-position: center 30%;
	}
    .logo {
	    max-width: 286px;
    }	
    .logotitle {
	    font-size: 2.6em;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	
	.logo {
        max-width: 380px;
    }    
	.logotitle {
        font-size: 3.4em;
    }
    .logosubtitle {
        font-size: 1em;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	header, .section-header {
		background: url("../images/jenni_1200.jpg") no-repeat;
		background-size: cover;
	    background-position: center 10%;
	    max-height: 1200px;
	}

	.logo-box {
		padding-top: 0;
	    padding-bottom: 0;
	    margin: 5% auto 25% auto;
	    background: none;
	    /*background: rgba(255, 255, 255, 0.4);	*/
	}  
	.logo {
        max-width: 327px;
    }
    .logotitle {
        font-size: 3em;
    }
    .logosubtitle {
        font-size: 1em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	header {
		background-position: center 30%;
	}
		
	.logo-box {
	    margin: 5% auto 25% auto;
	} 
    .logo{
        max-width: 450px;
    }
    .logotitle {
        font-size: 4em;
    }
    .logosubtitle {
        font-size: 1.7em;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .logo {
        max-width: 550px;
    }
    .logotitle {
        font-size: 5em;
    }
    .logosubtitle {
        font-size: 1.7em;
    }
}

