@page
@{
    ViewData["Title"] = "Developmental Checklist for 2 to 3 year olds.";
    ViewData["Description"] = "If your child has difficulty with a number of these skills, he or she may benefit from occupational therapy.";
}
<header>
    @(await Html.PartialAsync("_NavigationBar"))

    <div class="container">
        <div class="picture row"></div>
        <!-- page title -->
        <div class="titlebox row">
            <div class="col-sm-12">
                <h3>Checklist of Development</h3>
                <h1>5 years old</h1>
                <h3>Is my child ready for prep?</h3>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <section class="row highlight2">
        <div class="col-xs-10 col-xs-offset-1
                        col-md-8 col-md-offset-2">
            <p class="lead">
                By five years of age, a child should be able to perform the following activities. Two or three difficulties in each area would not be a concern.
            </p>
        </div>
    </section>

    <section class="row">
        <div class="col-xs-10 col-xs-offset-1
                        col-md-6 col-md-offset-0">
            <h4>Fine Motor</h4>
            <ul>
                <li>build a tower of at least 12 blocks</li>
                <li>draw a recognisable person with lots of detail</li>
                <li>draw a circle, square, diagonal, cross and a triangle</li>
                <li>have good control of pencils and paint brushes using     tripod grasp [pencil between thumb and index and    sitting on middle finger]</li>
                <li>trace own name – or write own name</li>
                <li>draw a house with doors, windows, roof</li>
                <li>trace through thick mazes</li>
                <li>thread beads on a string</li>
                <li>cut on a curved line – beginning to cut circles neatly</li>
                <li>manage fastenings eg zippers, buttons and buckles</li>
                <li>show a preferred hand for drawing and writing</li>
            </ul>
            <h4>Visual Perception</h4>
            <ul>
                <li>copy block designs with six blocks or Lego pieces</li>
                <li>Create simple patterns with blocks, magnetic shapes</li>
                <li>do puzzles of 16 plus pieces</li>
                <li>recall 2 to 3 items seen</li>
                <li>find objects/pictures hidden in a busy background</li>
                <li>recognise name</li>
            </ul>
            <h4>Thinking Skills</h4>
            <ul>
                <li>understand working left to right</li>
                <li>identify missing elements of a picture</li>
                <li>attend to task for [10 minutes] without supervision</li>
                <li>remain on task for 5 – 10 minutes when distractions  are present</li>
                <li>work in a small group for 10 – 15 minutes</li>
                <li>complete a task with little prompting</li>
                <li>recognise many letters and sounds of the letters</li>
                <li>identify number symbols 1 – 5</li>
                <li>count by rote to 20</li>
                <li>count at least to six with ‘one to one’ correspondence</li>
                <li>play group games following rules</li>
                <li>create own activities</li>
                <li>independently try out new activities</li>
                <li>accept an altered routine when   requested</li>
                <li>know their left and right sides</li>
                <li>return objects or materials to their assigned/appropriate place</li>
                <li>quieten down after an active period and wait for instructions</li>
                <li>volunteer for tasks</li>
                <li>obey rules</li>
                <li>carry out domestic and dramatic play alone or with playmates from day to     day</li>
                <li>hold a book the right way, turn pages, use pictures to tell a story</li>
            </ul>
            <h4>Gross Motor</h4>
            <ul>
                <li>run and change direction smoothly</li>
                <li>walk easily on narrow line</li>
                <li>gallop with either foot leading</li>
                <li>sit cross-legged on the floor for the duration of a story</li>
                <li>stand on one foot for 8 – 10 seconds  - climb on playground equipment</li>
                <li>skip on alternate feet</li>
                <li>hop on one foot [up to 10 times]</li>
                <li>throw a ball overhand</li>
                <li>catch a ball mainly using hands [10cm diameter ball]</li>
                <li>bounce a ball 2-3 times [15cm diameter ball]</li>
                <li>run and kick a ball</li>
                <li>ascend and descend stairs alternating feet without holding on</li>
            </ul>
        </div>

        <div class="col-xs-10 col-xs-offset-1
                        col-md-6 col-md-offset-0">

            <h4>Social/Emotional</h4>
            <ul>
                <li>usually be in a positive mood</li>
                <li>display a capacity for humour</li>
                <li>not be excessively dependent on adults</li>
                <li>cooperate in play</li>
                <li>share and take turns</li>
                <li>show an interest in others</li>
                <li>comfort a playmate in distress</li>
                <li>cope adequately with rebuffs</li>
                <li>be appropriately assertive</li>
                <li>give clear reasons for their actions</li>
                <li>express frustration and anger without escalating     disagreements or harming others</li>
                <li>not draw inappropriate attention to himself/herself</li>
                <li>use imagination in play</li>
                <li>make eye contact</li>
                <li>enter a group successfully</li>
                <li>participate in discussions and negotiations</li>
                <li>have some positive relationships with peers</li>
                <li>be named by other children as a friend</li>
            </ul>
            <h4>Self Care</h4>
            <ul>
                <li>remove a wrapper, insert a straw</li>
                <li>open most lunchboxes and containers</li>
                <li>wash and dry hands without assistance</li>
                <li>‘really’ comb or brush hair</li>
                <li>have only occasional toileting accidents</li>
                <li>be able to wipe bottom</li>
                <li>adjust clothing before leaving the toilet</li>
                <li>blow and wipe nose</li>
                <li>learning to use a knife and fork, if     demonstrated by parents</li>
            </ul>
            <h4>Communication</h4>
            <ul>
                <li>repeat a set of four digits</li>
                <li>repeat a five word sentence</li>
                <li>use a spontaneous six word sentence with correct grammar</li>
                <li>talk about events which are happening, have happened or might happen</li>
                <li>explain why something happens, such as ‘Mum’s car stopped because the petrol ran out’</li>
                <li>explain the function of objects, eg ‘this hair clip keeps my hair out of my eyes’</li>
                <li>follow three directions, such as ‘stand up, put your shoes on and wait by the door’</li>
                <li>say how they feel and tell you their ideas</li>
                <li>become interested in writing, numbers and reading</li>
                <li>speak clearly enough to be understood by most people</li>
                <li>understand the basic concepts of more, less, many, few, first, middle, last, high, low, wet, dry, big, little</li>
                <li>tell their full address</li>
                <li>tell parents’ first and last names</li>
                <li>say how they feel before acting</li>
                <li>ask for assistance when needed</li>
                <li>stay on topic during a conversation</li>
                <li>retell a simple story</li>
                <li>know some nursery rhymes and stories</li>
            </ul>
        </div>
    </section>

    <section class="row highlight">
        <div class="col-xs-10 col-xs-offset-1">
            <p class="lead">
                If your child  has difficulty with a number of these skills, he or she may benefit from occupational therapy.
            </p>
        </div>
    </section>
</div>
