<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="keywords" content="jenni hawkins, occupational therapy, peadiatric, children, brisbane, western suburbs, fig tree pocket, kenmore, chapel hill, kenmore hills, brookfield, pullenvale, moggill, indooroopilly, taringa, toowong" />
    <meta name="description" content="Jenni Hawkins is a paediatric occupational therapist in Brisbane, Australia." />
    <title>Jenni Hawkins. Occupational Therapy Services for Children.</title>
    <link id="favicon" rel="shortcut icon" href="images/favicon.png" />

    <title>@ViewData["Title"]</title>

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400italic,400,700,900" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,900' rel='stylesheet' type='text/css'>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
