<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="jenni hawkins, occupational therapy, peadiatric, children, brisbane, western suburbs, fig tree pocket, kenmore, chapel hill, kenmore hills, brookfield, pullenvale, moggill, indooroopilly, taringa, toowong" />

    <link id="favicon" rel="shortcut icon" href="images/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400italic,400,700,900" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,900' rel='stylesheet' type='text/css'>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()

    <div class="container">
        <div class="footer">
            <p text-right>&copy; 2014 <a href="index">Jenni Hawkins</a>. All Rights Reserved.</p>
        </div>
    </div>

    @* Bootstrap core JavaScript *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    @* Other Scripts *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
