html {
    position: relative;
    min-height: 100%; /*to make sure the footer is pushed down*/
    min-width: 300px;
}

body {
    margin-bottom: 80px; /*to offset the footer*/
    font-family: 'Merriweather', Georgia, serif;
    font-size: 1.6em;
}

.nav {
    font-family: 'Open Sans', sans-serif;
}

.lead {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}

h1 {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 2.1em;
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
/*
a:hover {
    text-decoration: none;
    text-shadow: -2px 0 2px #DDD, 0 1.5px 1px #DDD, 2px 0 2px #DDD, 0 -1px 1px #DDD;
}*/
/* -- Navigation Bar -- */
.navbar {
    margin: 0;
}

    .navbar li {
        color: #000;
    }

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .linksrow > section {
        min-height: 400px;
    }
}

/* -- White text with black outlines -- */
.logo-home, .titlebox {
    color: #EEE;
    text-shadow: -2px 0 2px #111, 0 1.5px 1px #111, 2px 0 2px #111, 0 -1px 1px #111;
}

.logo-home a {
    color: #EEE;
    text-shadow: -2px 0 2px #111, 0 1.5px 1px #111, 2px 0 2px #111, 0 -1px 1px #111;
}

.logo-home a:hover {
    text-shadow: -2px 0 2px #555, 0 1.5px 1px #555, 2px 0 2px #555, 0 -1px 1px #555;
}

/* -- White text with purple background -- */
.highlight, .highlight a, .highlight a:hover {
    color: #FFF;
    background: #524A6E;
}

/*    .highlight a {
        color: #FFF;
        text-shadow: -2px 0 2px #111, 0 1.5px 1px #111, 2px 0 2px #111, 0 -1px 1px #111;
    }*/

        .highlight a:hover {
            text-decoration: none;
            text-shadow: -2px 0 2px #111, 0 1.5px 1px #111, 2px 0 2px #111, 0 -1px 1px #111;
    }

/* -- White text with green background -- */
.highlight2, .highlight2 a {
    color: #111;
    background: #ACC282;
}

/*    .highlight2 a {
        color: #FFF;
        text-shadow: -2px 0 2px #111, 0 1.5px 1px #111, 2px 0 2px #111, 0 -1px 1px #111;
    }*/

        .highlight2 a:hover {
            text-decoration: none;
            text-shadow: -2px 0 2px #EEE, 0 1.5px 1px #EEE, 2px 0 2px #EEE, 0 -1px 1px #EEE;
        }

/* -- Logo cluster -- */
.logo-home {
    padding: 2px;
    margin: auto;
    vertical-align: middle;
}
    
.logo-home h1 {
    text-align: center;
}

.logosubtitle {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}

.logosubtitle-highlight {
    font-weight: normal;
    font-style: italic;
}

.logo-contact {
    /*text-align: center;*/
    font-size: 0.9em;
}

/* -- Map Canvas -- */
#map_canvas {
    border: 1px solid #222;
    box-shadow: 1px 1px 2px #222;
    height: 300px;
}

/* -- Misc. -- */
section {
    padding-top: 25px;
    padding-bottom: 40px;
}

.glyphicon {
    padding-left: 5px;
    padding-right: 10px;
}

.footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    height: 40px;
}

.ndis {
    background: url("../images/I-support-the-NDIS-v0.3-01.jpg") no-repeat;
    background-size: contain;
    /* background-position-y: 35%; */
    padding-top: 50%;
    max-height: 8px;
    max-width: 800px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen {

    header > .container {
    }

    .header-home, .titlebox {
        padding: 0;
        background: #4E4B44;
    }

    /* -- picture -- */
    .picture {
        background: url("../images/jenni_728.jpg") no-repeat;
        background-size: cover;
        background-position-y: 35%;
        padding-top: 50%;
        max-height: 800px;
    }

    .picture-home {
        background: url("../images/jenni_728.jpg") no-repeat;
        background-size: cover;
        padding-top: 66.64%;
    }

    .logo-box {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .logo-home {
        max-width: 286px;
    }

    h1 {
        font-size: 2.2em;
    }

    .logosubtitle {
        font-size: 0.9em;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .logo-home {
        max-width: 356px;
    }

    h1 {
        font-size: 2.7em;
    }

    .logosubtitle {
        font-size: 1em;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    /* Content boxes */
    section {
        padding: 50px;
    }

    #map {
        max-width: 500px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .picture-home {
        background: none;
        padding-top: 0;
    }

    .header-home {
        background: url("../images/jenni_1200.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;
        /*max-height: 800px;*/
        max-width: 1200px;
    }

    .logo-box {
        padding-top: 0;
        padding-bottom: 0;
        margin: 2% auto 50% auto;
        background: #4E4B44;
    }

    .logo-home {
        max-width: 450px;
    }

    h1 {
        font-size: 3.5em;
    }

    .logosubtitle {
        font-size: 1.5em;
    }

    #map_canvas {
        height: 250px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    #map_canvas {
        height: 300px;
    }
}
